<div id="order" 
     data-role="view" data-style="inset" 
     data-title="Order" data-init="listViewCardsInit" 
     data-model="OrderViewModel">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <div id="logo"><img src="images/img_logo.png" alt=""></div>
        </div>
    </header>
    <p id="reload" onclick="setOrder()">注文履歴を更新する</p>
    <ul id="orderlist" data-role="listview" data-style="inset">
    </ul>
    <p id="total"></p>
</div>